html,
body {
  font-family: 'Open Sans';
  background: linear-gradient(to right, #E09C95 0%, #D7BDE2 100%);
  font-size: 16px;
  height: 100%;
}

#player {
  color: #ffffff;
  box-sizing: border-box;
  max-width: 480px;
  min-width: 200px;
  width: 100%;
  margin: 25px auto;
  background: url('http://fondosdeestrellasdelrock.com/wp-content/uploads/images/46/acdc-1__400x300.jpg') no-repeat center center;
  background-size: cover;
}

#reproducao {
  padding: 10px;
  position: relative;
}

.controle {
  width: 25px;
  height: 25px;
  padding: 10px 2px 2px 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
}

.controle:hover,
.controle.ativo:hover,
.controle:active {
  background: rgba(255, 255, 255, 1);
  color: #d35400;
  cursor: pointer;
}

.controle.ativo {
  color: #fff;
  background: #d35400;
}

#topo {
  width: 100%;
}

#volume {
  width: 163px;
  border-radius: 20px;
  float: left;
  left: 50%;
  margin-left: -82px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
}

#volume .controle {
  background: rgba(255, 255, 255, 0);
}

#volume .controle.ativo {
  color: #d35400;
}

#vol-progresso {
  margin: 0 auto;
  width: 80px;
  display: inline-block;
}

#mostrar-playlist {
  width: 100%;
  height: 305px;
  margin-top: 45px;
  margin-bottom: -355px;
  box-sizing: border-box;
  background: #d35400;
  position: relative;
  z-index: 999;
  display: none;
}

#meio {
  padding: 150px 0 100px;
  text-align: center;
}

#meio #play {
  font-size: 50px;
  border-radius: 50px;
  width: 60px;
  height: 55px;
  padding: 25px 20px 20px;
  display: block;
  margin: 0 auto;
}

#base {
  background: #d35400;
  padding: 10px;
}

#informacoes {
  width: 70%;
  display: block;
  margin: 0 auto -40px;
}

#titulo {
  font-weight: bold;
  display: block;
  font-size: 1.2em;
  text-align: center;
}

#artista {
  font-weight: 100;
  display: block;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}

#setas {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 10px;
}

#funcoes {
  width: 100%;
  display: block;
  float: left;
  padding: 10px 0;
  text-align: center;
}

#funcoes span {
  padding: 5px;
  opacity: 0.5;
}

#funcoes span:hover {
  opacity: 1;
  cursor: pointer;
  color: #ffffff;
}

#funcoes span.ativo {
  opacity: 1;
  cursor: pointer;
  color: #d35400;
  background: rgba(255,255,255,0.5);
  border-radius: 15px;
}

#duracao {
  display: block;
  clear: both;
  width: 100%;
}

.tempo {
  font-size: 0.8em;
}

.esquerda {
  float: left;
}

.direita {
  float: right;
}

.exibir {
  display: block !important;
  visibility: visible;
}
/* RANGE */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: -5px;
  /* FF */
  
  padding: 0;
  /* IE */
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  border: 0px solid #000101;
  margin-top: -15px;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #e67e22;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FF9900;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #e67e22;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
  padding: 0;
  margin: 0;
}

input[type=range]::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.2);
  border: 0px solid #000101;
  border-radius: 15px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.2);
  border: 0px solid #000101;
  border-radius: 15px;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #e67e22;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #e67e22;
}

input[type=range]:focus::-ms-fill-upper {
  background: #e67e22;
}
